<div class="sidebar-nav navbar-collapse">
	<ul class="nav" id="side-menu">
		<!-- <li class="sidebar-search">
			<div class="input-group custom-search-form">
				<input type="text" class="form-control" placeholder="Search...">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">
						<i class="fa fa-search"></i>
					</button>
				</span>
			</div> /input-group
		</li> -->
		<li id=123456789><a class="active" href="#"><i
				class="fa fa-dashboard fa-fw"></i> AddData</a></li>
		<li><a href="#"><i class="fa fa-table fa-fw"></i>DataInfomation</a></li>
		<li><a href="#"><i class="fa fa-edit fa-fw"></i>
				DataCheck</a></li>
		<li><a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>
				Diurnal Variation<span class="fa arrow"></span></a>
			<ul class="nav nav-second-level collapse">
				<li id＝cf-tb-day> <a href="#">Tables</a></li>
				<li><a href="morris.html">Charts</a></li>
			</ul> <!-- /.nav-second-level --></li>
		<li><a href="#"><i class="fa fa-wrench fa-fw"></i> 
				Monthly Variation<span class="fa arrow"></span></a>
			<ul class="nav nav-second-level collapse">
				<li><a href="#">Tables</a></li>
				<li><a href="#">Charts</a></li>
			</ul> <!-- /.nav-second-level --></li>
		<li><a href="#"><i class="fa fa-sitemap fa-fw"></i>
				Quarter Variation<span class="fa arrow"></span></a>
			<ul class="nav nav-second-level collapse">
				<li><a href="#">Tables</a></li>
				<li><a href="#">Charts</a></li>
			</ul> <!-- /.nav-second-level --></li>
		<li><a href="#"><i class="fa fa-files-o fa-fw"></i>
				Annual Variation<span class="fa arrow"></span></a>
			<ul class="nav nav-second-level collapse">
				<li><a href="Tables">Blank Page</a></li>
				<li><a href="Charts">Login Page</a></li>
			</ul> <!-- /.nav-second-level --></li>
	</ul>
</div>